@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CooperHewitt";
  src: url("/fonts/CooperHewitt-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("/fonts/CooperHewitt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
  letter-spacing: 0.7px;
}

.record-view-mode-full h1,
.record-view-mode-full h2,
.record-view-mode-full h3,
.record-view-mode-full h4,
.record-view-mode-full h5,
.record-view-mode-full h6 {
  font-family: var(--font-inter);
}

.font-heading {
  letter-spacing: 0.7px;
}

a:hover {
  transition: 0.3s all;
}

a:hover:not(.link) {
  opacity: 0.7;
}

.link {
  text-underline-offset: 3px;
}

.link:hover,
.link:focus {
  @apply text-accent;
}

.link:active {
  @apply text-accent;
  opacity: 0.8;
}

.link-highlight {
  @apply bg-accent;
  @apply text-primary;
  padding: 0 0.25rem 0.25rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.link-highlight:hover,
.link-highlight:focus {
  opacity: 0.8;
}

[data-rk] .rainbow-kit-connect [data-testid="rk-connect-button"] {
  background: hsl(var(--p));
  border-radius: 5px;
}

.link-boxed {
  @apply p-2;
  background-color: #ebeff3;
  color: #546474;
}
